body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid white;
	border-radius: 1rem;
	padding: 0.5rem;
	height: min-content;
	width: fit-content;
	width: 100%;
	.header {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
}

.pagination {
	display: flex;
	gap: 1rem;
}

.search-box input[type="text"] {
	font-size: 1.5rem;
}

.preloader {
	td {
		text-align: center;
		width: 100%;
		svg {
			width: 100px;
			height: 100px;
		}
	}
}

.sorting-select {
	font-size: 1.5rem;
}
