.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	.title-container {
		display: flex;
		gap: 2rem;
		align-items: center;
	}
	.title {
		font-weight: bold;
		font-size: x-large;
	}
}
