.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	.div {
		width: 100%;
		display: flex;
		gap: 1rem;
	}
	.title {
		font-weight: bold;
		font-size: x-large;
	}
}
